<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>releases</id>
            <username>wohlgemuth</username>
            <password>changeme</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>wohlgemuth</username>
            <password>changeme</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <!--This sends everything else to /public -->
            <id>Fiehnlab Nexus Repository</id>
            <mirrorOf>*</mirrorOf>
            <url>http://gose.fiehnlab.ucdavis.edu:55000/content/groups/public</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>nexus</id>
            <!--Enable snapshots for the built in central repo to direct -->
            <!--all requests to nexus via the mirror -->
            <activation>
                <property>
                    <name>nexus</name>
                </property>
            </activation>

            <repositories>
                <repository>
                    <id>releases</id>
                    <name>Fiehnlab Releases Repository</name>
                    <url>http://gose.fiehnlab.ucdavis.edu:55000/content/repositories/releases</url>
                </repository>
                <repository>
                    <id>snapshots</id>
                    <name>Fiehnlab Snapshots Repository</name>
                    <url>http://gose.fiehnlab.ucdavis.edu:55000/content/repositories/snapshots</url>
                </repository>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>

        </profile>
    </profiles>

    <!--make the profile active all the time -->
    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>